[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"

[requires]
python_version = "3.6"


This project requires Python 3 and the requests package

''''
pipenv install
pipenv "run python find_meteor.py"
''''